* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrap{
  padding-bottom: 50px;
}

.projectsWrapper {
  color: rgb(255, 255, 255);
  font-family: "Biotif-Regular";
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.project {
  display: flex;
  height: 280px;
  flex-direction: column;
  width: 36%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px -3px rgba(255, 255, 255, 0.121);
  margin: 15px 0px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  transition:all 0.2s linear;
}
.project:hover{
  border: 0.5px solid rgba(255, 255, 255, 0.121);
  scale: 102%;
  box-shadow: 0px 0px 15px -3px rgba(255, 255, 255, 0.121);
}

.project-thumbnail {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 999999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thumbnail-img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
  z-index: -999999;
}

.desc {
  display:flex;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 0.037);
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 99999999;  */
}

.project-title {
  font-size: 22px;
  padding: 7px 10px 5px 10px;
  /* display: block; */
}

.project-description {
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  color: rgb(206, 206, 206);
  overflow: hidden;
}



.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .projectsWrapper{
    flex-direction: column;
  }
  .project{
    width: 80%;
  margin: 15px auto;
  }
  .project-title{
    font-size:22px;
  }
  .project-description{
    font-size:15px;
  }
}