{% extends "base.html" %}
{% block content %}
<div class="wrap">
      <div class="projectsWrapper fade-in-fwd">
            <div class="project">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img"
                              src="https://raw.githubusercontent.com/adivaste/assets/main/Portfolio/Screenshot%20(469).png"
                              alt="" srcset="">
                  </div>
                  <div class="desc">
                        <span class="project-title"> Hackerrank Submission Tool</span>
                        <span class="project-description">It is the simple Javascript Extension to submit the code in faster way on Hackerrank using CTRL, SHIFT, ALT and ENTER</span>
                  </div>
            </div>
            <div class="project">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img"
                              src="https://raw.githubusercontent.com/adivaste/twitter_dynamic_header/main/images/header.png"
                              alt="" srcset="">
                  </div>
                  <div class="desc">
                        <span class="project-title"> Twitter Dynamic Header</span>
                        <span class="project-description"> In Every 60 Seconds Your Twitter Header will change showing the profile pictures of recent 5 followers.</span>
                  </div>
            </div>
      </div>
      <div class="projectsWrapper fade-in-fwd">
            <div class="project p1">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img" src="https://raw.githubusercontent.com/adivaste/assets/main/Portfolio/twitter_sentimental_analysis.png" alt="" srcset="">
                  </div>
                  <div class="desc">
                  <span class="project-title"> Twitter Sentiment Analysis</span>
                  <span class="project-description">Sentiment Analysis on Indian Government Scheme, polarization of Negative, Positive and Neutral Tweets </span>
                  </div>
            </div>
            <div class="project p2">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img"  alt="" srcset="">
                  </div>
                  <div class="desc">
                  <span class="project-title"> Prayer Time API</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time
                        in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
      </div>
      <!-- <div class="projectsWrapper swing-in-top-fwd">
            <div class="project p1">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img" src="https://source.unsplash.com/random/?tree" alt="" srcset="">
                  </div>
                  <div class="desc">
                  <span class="project-title"> Prayer Time API</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time
                        in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
            <div class="project p2">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img" src="https://source.unsplash.com/random/?nature" alt="" srcset="">
                  </div>
                  <div class="desc">
                  <span class="project-title"> Prayer Time API</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time
                        in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
      </div> -->

</div>
{% endblock %}