{% extends "base.html" %}
{% block content %}

<div class="projectsWrapper">
      <div class="project p1">
            <div class="project-thumbnail">
                  <img class="thumbnail-img" src="https://images.unsplash.com/photo-1551033406-611cf9a28f67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" srcset="">
            </div>
            <div class="desc">
                  <span class="project-title"> Prayer Time API</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time in any city in the world, based on Muslim Pro.</span>
            </div>
      </div>
      <div class="project p2">
            <div class="project-thumbnail">
                  <img class="thumbnail-img" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" srcset="">
            </div>
            <div class="desc">
                  <span class="project-title"> Twitter Dynamic Header</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time in any city in the world, based on Muslim Pro.</span>
            </div>
      </div>
</div>
<div class="projectsWrapper">
      <div class="project p1">
            <div class="project-thumbnail">
                  <img class="thumbnail-img" src="https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1933&q=80" alt="" srcset="">
            </div>
            <span class="project-title"> Prayer Time API</span>
            <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time in any city in the world, based on Muslim Pro.</span>
      </div>
      <div class="project p2">
            <div class="project-thumbnail">
                  <img class="thumbnail-img" src="https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1973&q=80" alt="" srcset="">
            </div>
            <span class="project-title"> Prayer Time API</span>
            <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time in any city in the world, based on Muslim Pro.</span>
      </div>
</div>
<div class="projectsWrapper">
      <div class="project p1">
            <div class="project-thumbnail">
                  <img class="thumbnail-img" src="https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="" srcset="">
            </div>
            <span class="project-title"> Prayer Time API</span>
            <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time in any city in the world, based on Muslim Pro.</span>
      </div>
      <div class="project p2">
            <div class="project-thumbnail">
                  <img class="thumbnail-img" src="https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="" srcset="">
            </div>
            <span class="project-title"> Prayer Time API</span>
            <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time in any city in the world, based on Muslim Pro.</span>
      </div>
</div>

{% endblock %}