{% extends "base.html" %}
{% block content %}
<div class="wrap">
      <div class="projectsWrapper fade-in-fwd">
            <div class="project">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img"
                              src="https://source.unsplash.com/random/?earth"
                              alt="" srcset="">
                  </div>
                  <div class="desc">
                        <span class="project-title"> Prayer Time API</span>
                        <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer
                              time in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
            <div class="project">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img"
                              src="https://source.unsplash.com/random/?alien"
                              alt="" srcset="">
                  </div>
                  <div class="desc">
                        <span class="project-title"> Prayer Time API</span>
                        <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer
                              time
                              in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
      </div>
      <div class="projectsWrapper fade-in-fwd">
            <div class="project p1">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img" src="https://source.unsplash.com/random/?computer" alt="" srcset="">
                  </div>
                  <div class="desc">
                  <span class="project-title"> Prayer Time API</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time
                        in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
            <div class="project p2">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img" src="https://source.unsplash.com/random/?city" alt="" srcset="">
                  </div>
                  <div class="desc">
                  <span class="project-title"> Prayer Time API</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time
                        in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
      </div>
      <div class="projectsWrapper swing-in-top-fwd">
            <div class="project p1">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img" src="https://source.unsplash.com/random/?tree" alt="" srcset="">
                  </div>
                  <div class="desc">
                  <span class="project-title"> Prayer Time API</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time
                        in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
            <div class="project p2">
                  <div class="project-thumbnail">
                        <img class="thumbnail-img" src="https://source.unsplash.com/random/?nature" alt="" srcset="">
                  </div>
                  <div class="desc">
                  <span class="project-title"> Prayer Time API</span>
                  <span class="project-description">It's an easy to use API to get today's (and tomorrow!) prayer time
                        in any city in the world, based on Muslim Pro.</span>
                  </div>
            </div>
      </div>

</div>
{% endblock %}